<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/style.css">
    <!--Example code for displaying flash messages from palletsprojects.com-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!--Tweaked base HTML from lesson-->
    <head class="main">
    <title>{{title}}</title>
    </head>
    <body>
    <div class="top-bar">
        {% if 'username' in session %}
        <li><a href="/item">Items</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/user/{{session['username']}}">Character List</a></li>
        {%else%}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}
    </div>
    <h1>{{header}}</h1>
    {% block content %} Body Content{% endblock%}
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    
    <script src="/static/script.js"></script>
    </body>
</html>