{% extends 'base.html'%}

{% block content %}
<table class="character-details">
    <tr>
        <td>Name:</td>
        <td> {{character.name}}</td>
    </tr>
    <tr>
        <td>Strength Score:</td>
        <td> {{character.str_score}}</td>
    </tr>
    <tr>
        <td>Current Inventory Weight: </td>
        <td>{{character.total_weight()}} lbs</td>
    </tr>
    <tr>
        <th>Encumbrence Tier</th>
        <th>Value</th>
        <th>Weight Remaining</th>
    </tr>
    {%for calc in character.encumbrence_calculations()%}
    <tr>
        <td title="{{calc['rules']}}">{{calc["title"]}}</td>
        <td>{{calc["value"]}} lbs</td>
        <td>{{calc["value"] - character.total_weight()}} lbs</td>
    </tr>
    {%endfor%}
</table>
<h2>Items</h2>
<a href="/character/{{character.id}}/inventory/add" class="solo-button">Add Item</a>
{%for item in character.items%}
<div class="item">
    <h3>{{item.item.name}}</h3>
    <p>{{item.item.desc}}</p>
    <p><b>Weight:</b> {{item.item.weight}}</p>
    <img src="{{item.item.image_url}}"><br>
    <a href="/character/{{character.id}}/{{item.id}}/remove">Remove from inventory</a>
</div>
{%endfor%}
{% endblock%}