{% extends 'base.html'%}

{% block content %}
<p>Player Name: {{user.first_name}} {{user.last_name}}</p>
<h2>Characters</h2>
{%for character in characters%}
<div>
    <h3>{{character.name}}</h3>
    <p>{{character.bio}}</p>
    <a href="/character/{{character.id}}/update">Update</a>  
    <a href="/character/{{character.id}}/delete">Delete</a>
    <a href="/character/{{character.id}}/inventory">View Inventory</a>
</div>
{%endfor%}
<a href="/users/{{user.username}}/character/add">Add Character</a>
{% endblock%}