{% extends 'base.html'%}

{% block content %}
<!--Template code adapted from snack-add-form in example-->
<form id="register" method="POST">
  {{ form.hidden_tag() }} <!--add type=hidden form fields -->

  {% for field in form
         if field.widget.input_type != 'hidden' %}
    {%if field.name != 'image_url'%}
    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>
  {%endif%}
  {% endfor %}
  <p>
    <label for="image-search">Search for Image:</label>
    <input id="image-search" name="image-search" required="" type="text" value="">
    <button type="button">Search</button><br>
    <label for="image-select">Select Image:</label>
    <div id="image-select"></div>
  </p>

  <button type="submit">Create Item</button>
</form>
{% endblock%}